{{!--

logout handlebar template

--}}



<head>
	<meta charset="UTF-8">
	<title>Logged Out</title>
     <link rel="stylesheet" href="../public/css/lab10.css">
</head>
<body>
	<h1>You have been logged out.</h1>
	<p>Thank you for using our application!</p>
	<a href="/">Return to Home Page</a>
	<script src = "../public/js/lab10.js"></script> 
</body>
